/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);
  --accent-color: #FF8DCB;
  --buttonAsideText-color: #353430;
  --mainText-color: #353430;
  --header-title: #FFC2E6;
  --background-color: #FFF1F7;
  --header-gap: 56px;
  --margin-block-end: 60px;
  --padding-inline-start: 20px;
  --padding-inline-end: 20px;
  --main-text-gap: 10px;
  --margin-block-end-img: 60px;

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.40);
  }

  .header__recording {
    display: none;
  }

  
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(/images/cover-image-light.png);
    --accent-color: #FF8DCB;
    --buttonAsideText-color: #353430;
    --mainText-color: #353430;
    --header-title: #FFC2E6;
    --background-color: #FFF1F7;
    --header-gap: 56px;
    --margin-block-end: 60px;
    --padding-inline-start: 20px;
    --padding-inline-end: 20px;
    --main-text-gap: 10px;
    --margin-block-end-img: 60px;
  }

  .header__recording {
    display: none;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.40);
  }
}