/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем.. */
}

.header {
  min-height: 668px;
  max-width: 100%;
  block-size: 100vh;
  margin-block-end: 40px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 55px;
  inline-size: calc(100% - var(--container-padding)*2);
  margin-inline: auto;
}

.decorated-zone {
  margin: auto;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  left: var(--container-padding);
  bottom: var(--container-padding);
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--buttonAsideText-color);
  border-inline-start: 1px solid var(--buttonAsideText-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  right: var(--container-padding);
  top: var(--container-padding);
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--buttonAsideText-color);
  border-inline-end: 1px solid var(--buttonAsideText-color);
}

.header__recording {
  display: flex;
  height: 20px;
  width: 20px;
  position: absolute;
  top: var(--container-padding); 
  right: var(--container-padding);
}

.header__recording::after {
  content: "REC";
  color: var(--accent-color);
  position: absolute;
  right: calc(var(--container-padding)*2.7);
  line-height: 25px;
}

.header__recording::before {
  content: "";
  position: absolute;
  right: calc(var(--container-padding));
  top: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: end;
  margin-block-end: 11px;
}

.header__theme-menu-list {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  inline-size: 70px;
  block-size: 26px;
  color: var(--buttonAsideText-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--buttonAsideText-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--buttonAsideText-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  color: var(--header-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}

.header__textBlock {
  justify-self: end;
  max-width: 365px;
  font-weight: 700;
  align-self: start;
}

.mainText {
  display: grid;
  gap: 50px;
  padding-inline: 10px;
  color: var(--mainText-color);
  line-height: 23.4px;
  margin-top: 40px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid;
  padding-inline: 2px;
}

.mainText__questionTitle {
  color: var(--buttonAsideText-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.mainText_paragraph {
  margin-block-end: 20px;
}

.mainText_paragraph:last-child:last-child {
  margin-block-end: 0px;
}

.mainText__answerTitle-advice {
  flex-shrink: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.title-decor {
  background: var(--accent-color);
  color: #000028;
  margin-block-end: 10px;
  line-height: 23.4px;
}

.mainText_imgBlock {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-block-end: 39px;
}

.img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.marginNone {
  margin: 0px;
}

.section {
  display: grid;
  gap: 20px;
}

.adviceMargin {
  margin-block-end: 20px;
}

.footer {
  display: grid;
  position: relative;
  block-size: calc(100vh - var(--container-padding));
  margin: auto;
  min-height: 668px;
}

.footer__title {
  align-self: center;
  justify-self: center;
  line-height: calc(100vh - var(--container-padding)*2);
  color: var(--header-title);
  text-shadow: 2px 2px 0px #FF0070;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
}

@media (768px <= width < 1024px) {
  .header {
    min-height: 1024px;
    margin-block-end: 64px;
  }

  .header__theme-menu {
    margin-block-end: 17px;
  }

  .header__title {
    align-self: center;
    justify-self: start;
  }

  .header__textBlock {
    align-self: start;
  }

  .mainText {
    padding-inline-start: 13px;
    padding-inline-end: 27px;
    gap: 10px;
  }
}

@media(width >= 768px) {
  :root {
    --container-padding: 20px;
  }

  .header {
    gap: 56px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    inline-size: calc(100% - var(--container-padding));
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__recording::after {
    right: calc(var(--container-padding)*1.5);
  }

  .header__recording::before {
    right: calc(var(--container-padding)/2);
  }

  .section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-block-end: 70px;
  }

  .mainText__hardFocus {
    display: grid;
    grid-template-columns: 1fr;
  }

  .mainText__reducesConcentration {
    display: grid;
    grid-column: 1 / 3;
    grid-template-rows: repeat(6, min-content);
  }

  .mainText__improveConcentration {
    display: grid;
  }

  .mainText_imgBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-block-end: 50px;
    gap: 20px;
  }

  .marginNone {
    grid-column: 1 / 4;
  }

  .sansetImg {
    grid-column: 1 / 3;
  }

  .ice-creamImg {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .tapeImg {
    grid-row: 3/5;
    grid-column: 1;
  }

  .booksImg {
    grid-column: 2;
    grid-row: 3;
  }

  .streetImg {
    grid-column: 2 / span 2;
    grid-row: 4/5;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {

  .header {
    margin-block-end: 60px;
    min-height: 768px;
    gap: 76px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin-block-start: 19px;
    padding-inline-start: 20px;
  }
  
  .header__theme-menu-list {
    display: flex;
    flex-flow: row;
    gap: 10px;
  }

  .header__textBlock {
    max-width: 491px;
    align-self: start;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    align-self: center;
    justify-self: start;
  }


  .container {
    grid-template-rows: 40% 23% 39%;
  }

  .mainText {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    gap: 10px;
    line-height: 23.4px;
  }

  .mainText__reducesConcentration {
    gap: 0px 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, max-content);
  }

  .mainText__reducesConcentration .mainText__answerTitle {
    grid-row: 1;
  }

  .mainText__reducesConcentration .mainText_paragraph {
    grid-row: 2;
  }

  .mainText_imgBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-block-end: 60px;
    gap: 20px;
  }

  .section {
    margin-block-end: 70px;
    gap: 20px 12px;
  }

  .footer {
    min-height: 768px;
  }
}